body {
background-color: rgba(139, 135, 77, 0.674);
/* Use a system font, if none are available use an available sans-sarif   font */
font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
font-family: 'Caveat', cursive;
margin: 0;
height: 100vh;
display: flex;
flex-direction: column;
text-align: center;
color: white;
font-size: x-large;
align-items: center;
background-image: url("https://img.freepik.com/free-vector/colorful-neon-light-trail-background_52683-4986.jpg?w=900&t=st=1671633614~exp=1671634214~hmac=779344986e87e82204993178071e91a53223e2c4df9fbf8c9a0695a4294222ef");
background-size:cover;
}

section.board {
  display: grid;
  background-color: tan;
  grid-template-rows: repeat(11, 7vmin);
  grid-template-columns: repeat(11, 7vmin);
  grid-gap: 0vmin;
  color: #FF10F0;
  border: black solid 1px;
  border-radius: 20px;
  margin: auto;
}

section.board > * {
  display: flex;
  border: black solid 1px;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
}

.head-text{
  margin: 0;
}

.refuge {
  background-color: white !important;
}
.throne {
  background-color: gold !important;
}
.btn {
  width: 170px;
  font-size: 24px;
  margin-bottom: 16px;
  background-color: black;
  color: white;
  border-radius: 5px;
}

#sq0 {
  border-top-left-radius: 20px;
}
#sq10 {
  border-top-right-radius: 20px;
}
#sq110 {
  border-bottom-left-radius: 20px;
}
#sq120 {
  border-bottom-right-radius: 20px;
}